:root {
  --headerBackgroundColor: rgb(30, 69, 141);
  --headerButtonOnHoverColor: rgba(101, 145, 228, 0.673);
  --headerTextColor: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
  margin:0;
}

#app-layout {
  display: flex;
  /* height: 100vh; */
}

#app-layout #left-column {
  border: solid 1px #000;
  flex: 1;
}

#app-layout #right-column {
  border: solid 1px #000;
  flex: 3;
  justify-content: center;
  /* display: flex; */
}


/* HEADER */

header {
  display:flex;
  width:100%;
  background-color:var(--headerBackgroundColor);
  color:var(--headerTextColor);
  height: 65px;
}

header .left {
  flex: 1;
}


header .right {
  flex: 1; 

  display: flex;
  align-items: center;
  justify-content: right;
}

header .title {
  flex: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;

}

button {
  background-color:var(--headerTextColor);
  color: var(--headerBackgroundColor);
  border: none;
  font-size: 1em;
  margin: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /*Add a shadow  */

}

button:hover {
  background-color: var(--headerButtonOnHoverColor);
  color: var(--headerTextColor);

}


/* MODEL WINDOW */

#modal-overlay {
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;
}
#modal-overlay #modal {
  max-width: 650px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

/* ADD CONTACTS FORM */

#modal .modal-header h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

#modal .modal-content .row {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#modal .modal-content .input-group {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin: 5px 15px;
}


input[type="text"],
input[type="number"],
input[type="email"] {
  font-size: 16px;
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #666;
  border-radius: 10px;

}

#modal .modal-footer {
  display: flex;
  justify-content: right;
  margin: 5px 10px;
}

.closeBtn {
  background-color:#a5a4a4;
  color: var(--headerTextColor);
}
.submitBtn {
  background-color:rgb(33, 167, 167);
  color: var(--headerTextColor);
}


/* CONTACT LIST */

#contact-list {
  padding:0;
  margin:0;
}

.contact-list-item {
  display: flex;
  color:#fff;;
  margin: 10px;
}

.contact-list-item .media {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px
}

.contact-list-item .media .two-letters {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-list-item .content {
  flex: 3;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 10px;
  gap: 1px;
  /* background-color: rgb(152, 148, 148); */
}

.contact-list-item .content .title {
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.616);

} 

.contact-list-item .content .subtitle {
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.616)

}

.contact-list-item .action {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color:white;
}

/* RIGHT COLUMN */

#right-col-details {
  display: flex;
  flex-direction: column;
}
#right-col-details .label {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  display: flex;
  justify-content: center;
}

#right-col-details .data {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}
#app-layout #right-column #backBtn {
  display: none;
}


@media only screen and (max-width: 600px) {
  #app-layout #right-column {
    display: none;
  }
  #app-layout #right-column #backBtn {
    margin: 20px 0 0 20px;
    display: block;
  }
  #modal .modal-content .row {
    flex-direction: column;
  }
} 
